* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    color: #4a94e7;
    font-family: 'Spectral SC', serif;
}



/* Header */

header {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 25px;
    text-align: center;
}

h1 {
    font-size: 32px;
}

header p {
    font-style: italic;
}


/* Main */

.description p {
    line-height: 25px;
    margin: auto 30px;
}



/* Form section */

.form, .form article, form {
    margin: 0 auto;
}

.form article {
    text-align: center;
}

h2 {
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 20px;
}

form {
    padding-top: 20px;
    width: 70%;
}

select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border: 1px solid #ccc;
    color: #555;
    font: 14px 'Roboto', sans-serif;
    height: 30px;
    margin-top: 10px;
    width: 100%;
}

input[type=submit], input[type=reset] {
    background: #f9e94d;
    border-bottom: 2px solid #e0d145;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #000;
    font: 14px 'Spectral SC', serif;
    padding: 3%;
    width: 100%;
}

input[type=submit]:hover, input[type=reset]:hover {
    background: #e0d145;
}


/* Table */

table {
    background-color: #f9e94d;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}



footer {
    font-family: 'Spectral SC', serif;
    font-size: 14px;
    text-align: center;
}